parameters:
  level: 7
  paths: [app, config, database, routes, tests]

  tmpDir: .cache/phpstan

  checkFunctionNameCase: true
  checkModelProperties: true

  reportUnmatchedIgnoredErrors: false

  exceptions:
    implicitThrows: false

    check:
      missingCheckedExceptionInThrows: true
      tooWideThrowType: true

    uncheckedExceptionClasses:
      - 'PHPUnit\Framework\Exception'
      - 'RuntimeException'
      - 'Symfony\Component\HttpKernel\Exception\HttpException'

  ignoreErrors:
    - message: "#^Method .+ throws checked exception .+ but it's missing from the PHPDoc @throws tag.$#"
      path: tests/*

includes:
  - vendor/larastan/larastan/extension.neon
  - phpstan-baseline.neon
