parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property object\\:\\:\\$payload\\.$#"
			count: 14
			path: app/Listeners/LibraryNew.php

		-
			message: "#^Method App\\\\Listeners\\\\LibraryNew\\:\\:embeds\\(\\) throws checked exception Exception but it's missing from the PHPDoc @throws tag\\.$#"
			count: 1
			path: app/Listeners/LibraryNew.php

		-
			message: "#^Unable to resolve the template type TMakeKey in call to method static method Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\),mixed\\>\\:\\:make\\(\\)$#"
			count: 1
			path: app/Listeners/LibraryNew.php

		-
			message: "#^Unable to resolve the template type TMakeValue in call to method static method Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\),mixed\\>\\:\\:make\\(\\)$#"
			count: 1
			path: app/Listeners/LibraryNew.php

		-
			message: "#^Parameter \\#2 \\$string of function explode expects string, bool\\|string given\\.$#"
			count: 1
			path: config/app.php

		-
			message: "#^Parameter \\#1 \\$title of static method Illuminate\\\\Support\\\\Str\\:\\:slug\\(\\) expects string, bool\\|string given\\.$#"
			count: 1
			path: config/cache.php

		-
			message: "#^Parameter \\#1 \\$title of static method Illuminate\\\\Support\\\\Str\\:\\:slug\\(\\) expects string, bool\\|string given\\.$#"
			count: 1
			path: config/database.php

		-
			message: "#^Parameter \\#1 \\$title of static method Illuminate\\\\Support\\\\Str\\:\\:slug\\(\\) expects string, bool\\|string given\\.$#"
			count: 1
			path: config/horizon.php

		-
			message: "#^Parameter \\#2 \\$string of function explode expects string, bool\\|string given\\.$#"
			count: 1
			path: config/logging.php

		-
			message: "#^Parameter \\#1 \\$url of function parse_url expects string, bool\\|string given\\.$#"
			count: 1
			path: config/mail.php

		-
			message: "#^Parameter \\#1 \\$title of static method Illuminate\\\\Support\\\\Str\\:\\:slug\\(\\) expects string, bool\\|string given\\.$#"
			count: 1
			path: config/session.php

		-
			message: "#^Parameter \\#1 \\$json of function json_decode expects string, string\\|false given\\.$#"
			count: 1
			path: tests/Feature/Listeners/LibraryNewTest.php

