includes:
  - vendor/larastan/larastan/extension.neon
  - phpstan-baseline.neon

parameters:

  paths:
    - app
    - config
    - database
    - routes
    - tests

  level: 7

  checkFunctionNameCase: true
  checkModelProperties: true

  reportUnmatchedIgnoredErrors: false

  exceptions:
    implicitThrows: false

    check:
      missingCheckedExceptionInThrows: true
      tooWideThrowType: true

    # uncheckedExceptionRegexes:
    #   - '/^GuzzleHttp\\Exception\\GuzzleException$/'

    uncheckedExceptionClasses:
      # - 'InvalidArgumentException'
      - 'PHPUnit\Framework\Exception'
      - 'RuntimeException'
      - 'Symfony\Component\HttpKernel\Exception\HttpException'

  ignoreErrors:
    - message: "#^Method .+ throws checked exception .+ but it's missing from the PHPDoc @throws tag.$#"
      path: tests/*
