includes:
  - vendor/nunomaduro/larastan/extension.neon

parameters:

  paths:
    - app
    - config
    - database
    - routes
    - tests

  level: 7

  checkFunctionNameCase: true
  checkMissingIterableValueType: false
  checkModelProperties: true

  reportUnmatchedIgnoredErrors: false

  exceptions:
    implicitThrows: false

    check:
      missingCheckedExceptionInThrows: true
      tooWideThrowType: true

    # uncheckedExceptionRegexes:
    #   - '/^GuzzleHttp\\Exception\\GuzzleException$/'

    uncheckedExceptionClasses:
      # - 'InvalidArgumentException'
      - 'PHPUnit\Framework\Exception'
      - 'Symfony\Component\HttpKernel\Exception\HttpException'

  ignoreErrors:
    - message: "#^Method .+ throws checked exception .+ but it's missing from the PHPDoc @throws tag.$#"
      path: tests/*
